    <body>
        <!-- Intro Picture Section-->
        <img class="intro" src="/public/images/Untitled.png" alt="">

        <a href="/public/documents/Somara-Resume.pdf" class="resume" target="_blank">~ Resume ~</a>    

        <!-- Separation -->
        <hr class="separation-bar"></hr>

        <!--Projects / Experience-->
        <section class="my-work" id="my-work-id">
            <h2 class="section__title section__subtitle--work">
                ~ Projects ~
            </h2>
            
            <div class="flex">

                    <a class="my_project position1 click" href="/this-portfolio">
                      <h3><u>This Portfolio</u></h3>
                      <p>About this colorful portfolio</p>
                    </a>

                    <a class="my_project position3 click" href="/tank-wars">
                      <h3><u>Tank Wars</u></h3>
                      <p>Java shooter game</p>
                    </a>

                    <a class="my_project position4 click" href="/website">
                      <h3><u>Informative Website</u></h3>
                      <p>Project for learning</p>
                    </a>

                    <a class="my_project position2 click" href="/python-interpreter">
                      <h3><u>Python Interpreter</u></h3>
                      <p>A simulated interpreter program</p>
                    </a>

            </div>     

            <div class="flex">

                    <a class="my_project position2 click" href="https://medium.com/@ginasomara15" target="_blank"> 	
                      <h3><u>Bitcoin Technology</u></h3>
                      <p>Medium Article Series</p>
                    </a>

                    <a class="my_project position3 click" href="/cryptocurrency-wallet">
                      <h3><u>Cryptocurrency Wallet</u></h3>
                      <p>Take a Sneak Peak!</p>
                    </a>

                    <a class="my_project position4 click" href="/">
                      <h3><u>Blockchain</u></h3>
                      <p>BIG Project 1.0, coming soon...!</p>
                    </a>

            </div>  

        </section>


         <!--Separation Bar-->
         <hr class="separation-bar"></hr>

        <!--About Me-->
        <section class="about-me" id="about-me-id">
            <h2 class="section__title section__subtitle--aboutMe">
                ~ About Me ~
            </h2>

            <div class="flex">
                    <div class="info-Section-aboutMe position4 aboutMe-right">
                       <h3><u>Who am I</u></h3>
                       <p>From a USAF jet engine mechanic to a committed Computer Science student. I am particularly passionate and interested in Full Stack Development, Cryptography, and Blockchain Technologies. Blockchain technology was the first to really catch my full attention; and I have
                       been learning and writing articles about it ever since. Oh, and I also really love maple syrup and Platypi.</p>
                    </div>    

                    <div class="info-Section-aboutMe position1 aboutMe-left">
                        <h3><u>Why I love Computer Science</u></h3>
                        <p> I grew up very technologically illiterate, I spent my time climbing trees and talking to squirrels ;) So when I discovered programming, I was surprised with how much I loved it. I grew an appetite for learning Computer Science ~ The concepts were so foreign, yet fun, and quite stimulating. Of course programming can be challenging, complex, and frustrating. But I have never had so much fun getting frustrated!  </p>
                    </div>
                    
            </div> 
        </section>


        <!--Separation Bar-->
        <hr class="separation-bar"></hr>

        <!--Contact Me-->
        <section class="contact-me" id="contact-me-id">
            <h2 class="section__title section__subtitle--contact">
                ~ Let's Connect ~
            </h2>

            <div class="info-Section-contact"> <!--All font awesome icons here-->

                <div class="contact__list flex">
                    <div class="contact position1">
                        <a href="https://www.linkedin.com/in/gina-somara-a61bb3199/" target="_blank" class="nav__link">
                            <i class="fab fa-linkedin stefanvdnight fa-4x"></i> 
                        </a>
                    </div>
                    <div class="contact position2">
                        <a href="mailto:ginasomara15@gmail.com?Subject=From Portfolio - Let's Connect Gina!" target="_blank" class="nav__link">
                            <i class="far fa-envelope fa-4x"></i>
                        </a>
                        <p>
                            Email: ginasomara15@gmail.com 
                        </p>
                    </div>
                    <div class="contact position3">
                        <a href="https://www.facebook.com/gina.somara" target="_blank" class="nav__link">
                            <i class="fab fa-facebook-square fa-4x"></i>  
                        </a>
                    </div>
                </div>
                
            </div> 
        </section>

        <footer>
            <div class="footer">
                <h3>Thank you for your time! </h3>
            </div>
        </footer>  
    </body>
 
