    <body>

        <header>
            <div class = "logo">
                <!--INSERT PICTURE HERE-->
                <!-- <img src="images/Intro1.png" alt="Picture of Gina Somara" class="intro__img"> -->
            </div>
        </header>


        <!-- Intro -->
        <section class="intro">
            <h1 class="section__title section__title--intro">
                He110! I am <strong>Gina Somara</strong>
            </h1>

            <p class="section__subtitle section__subtitle--intro">
                Student of Computer Science
            </p>

            <img src="/public/images/resize_profile_pic.jpg" alt="Picture of Gina Somara smiling" class="intro__img">
        </section>


        <!--Separation Bar-->
        <hr class="separation-bar"></hr>

        <!--Projects / Experience-->
        <section class="my-work">
            <h2 class="section__title section__subtitle--work">
                ~ Projects ~
            </h2>
            
            <div class="flex">

                <!-- <div class="my_project position1"> -->
                    <a class="my_project position1 click" href="">
                      <h3><u>Data Structures</u></h3>
                      <p>A web dev project simulating a client nighttime cocktail bar of NYC.</p>
                    </a>
                <!-- </div> -->
            
                <div class="my_project position2">
                    <a class="click" href="">
                      <h3><u>The Fountain Website</u></h3>
                      <p>A program designed to get familiar with Enum classes and Google Guava</p>
                    </a>
                </div>

                <div class="my_project position3">
                    <a class="click" href="">
                      <h3><u>This Portfolio</u></h3>
                      <p>A project to get familiar with the backbone of one of my biggest passions. </p>
                    </a>
                </div>

                <div class="my_project position4">
                    <a class="click" href="">
                      <h3><u>Dictionary</u></h3>
                      <p>Another project coming soon. . . . Stay tuned!</p>
                    </a>
                </div>

            </div>     
        </section>


         <!--Separation Bar-->
         <hr class="separation-bar"></hr>

        <!--About Me-->
        <section class="about-me">
            <h2 class="section__title section__subtitle--aboutMe">
                ~ About Me ~
            </h2>

            <div class="flex">
                    <div class="info-Section-aboutMe position4 aboutMe-right">
                       <h3><u>Who am I</u></h3>
                       <p>From a USAF jet engine mechanic to a committed Computer Science student. I am particularly passionate and interested in AI,
                       Web Development, Cryptography and Blockchain Technologies. Blockchain technology was the first to really catch my full attention; and I have
                       been learning about it ever since. Oh, and I also really love trees and maple syrup.</p>
                    </div>    

                    <div class="info-Section-aboutMe position1 aboutMe-left">
                        <h3><u>Why I love Computer Science</u></h3>
                        <p>When I discovered programming through a mandatory introduction course, I was surprised with how much I loved it. I grew an appetite for 
                        learning anything CS. Growing up, I was very technologically illiterate, so I had quite the learning curve to overcome. And here I am today, 
                        still hungry for more. Programming is challenging, complex, and frustrating. But I have never had so much fun 
                        getting frustrated!  </p>
                    </div>
                    
            </div> 
        </section>


        <!--Separation Bar-->
        <hr class="separation-bar"></hr>

        <!--Contact Me-->
        <section class="contact-me">
            <h2 class="section__title section__subtitle--contact">
                ~ Contact Me / Information ~
            </h2>

            <div class="info-Section-contact"> <!--All font awesome icons here-->

                <div class="contact__list flex">
                    <div class="contact position1">
                        <a href="https://www.linkedin.com/in/gina-somara-a61bb3199/" target="_blank" class="nav__link">
                            <i class="fab fa-linkedin stefanvdnight fa-4x"></i> 
                        </a>
                    </div>
                    <div class="contact position2">
                        <a href="#about" target="_blank" class="nav__link">
                            <i class="far fa-envelope fa-4x"></i>
                        </a>
                    </div>
                    <div class="contact position3">
                        <a href="https://www.facebook.com/gina.somara" target="_blank" class="nav__link">
                            <i class="fab fa-facebook-square fa-4x"></i>  
                        </a>
                    </div>
                </div>
                
            </div> 
        </section>

        <section class="separation-bar" id="bar">
        </section>

        <footer>
            <div class="footer">
                <h3>Thank you for your time! </h3>
            </div>
        </footer>  
    </body>
 
