/* === GENERAL set up=== */
html
{
    height: 100%;
}

/* === BODY specifics === */
body 
{
    background-image: url(../images/Use_Background.png);
    background-size: cover; 
    background-repeat: no-repeat;
}

nav
{
    margin-left: 10em;
    margin-right: 10em;
    text-align: center;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(214, 202, 233, 0.377);
    border-radius: 25px;
}
nav a
{
    padding-left: 10px;
    padding-right: 10px;
    /* color: black; */
    color: whitesmoke;
}

/* === SPECIFICS === */
.developer
{
    background-color: rgba(119, 67, 204, 0.788);
    margin-right: 5em;
    margin-left: 5em;
    border-radius: 25px;
    padding: 2em;
    margin-bottom: 3em;
    color: rgb(243, 240, 255);
    text-align: center;
}
.developer p
{
    font-size: 23px;
}
.developer-note
{
    font-size: 17px;
    color: whitesmoke;
}

li
{
    font-size: 23px;
    text-align: left;
}