html
{
    height: 100%;
}


body 
{
    background-image: url(../images/Use_Background.png);
    background-size: cover; 
    background-repeat: no-repeat;
}


.container
{
    margin-right: auto;
    margin-left: auto;
    width: 1020px;
    text-align: center;
}


header
{
    height: 150px;
}


nav
{
    height: 220px;  
    padding-top: 50px;
}


main
{
    background-color: rgba(230, 230, 250, 0.452);
    padding-top: 10px;
    padding-right: 10px;
    padding-left:  10px;
    padding-bottom: 30px;
    border: rgba(230, 230, 250, 0.452);
    border-radius: 50px;
}


h1
{
    font-size: 50px;
    color:whitesmoke;
    text-shadow: 2px 2px 4px #000000;
    opacity: 2.0;
    font-family: Arial, Helvetica, sans-serif;
}


p
{
    font-size: 18px;
    color:whitesmoke;
    text-shadow: 2px 2px 4px #000000;
    opacity: 2.0;
    font-family: Arial, Helvetica, sans-serif;
}


a
{
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000000;
    font-family: Arial, Helvetica, sans-serif;
}


/* Compound Class */
nav a
{
    padding-left: 10px;
    padding-bottom: 10px;
}


footer
{
    padding-top: 700px;
    padding-bottom: 20px;
    background-color: rgba(94, 46, 156, 0.39);
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.video 
{
    padding-top: 50px;
}