html
{
    height: 100%;
}


body
{
    background-image: url(../images/Video_HomePage.png);
    background-size: cover;
}


nav
{
    background-color: rgba(119, 67, 204, 0.473);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 680px;
    padding-top: 20px;
    padding-bottom: 20px;
}


a
{
    color: honeydew ;
    text-shadow: 2px 2px 4px #000000;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}


.AboveNav
{
    height: 0px;
}


header
{
    height: 200px;
}


.videoHeading
{
    background-color: rgba(119, 67, 204, 0.473);
}


p
{
    font-size: 50px;
    color: honeydew;
    opacity: 2.0;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}


main
{
    padding-top: 100px;
    text-align: center;
    padding-bottom: 135px;
}


footer
{
    padding-top: 20px;
    padding-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}