<!DOCTYPE html>
 <html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <link rel="stylesheet" href="/public/css/nav.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;900&display=swap" rel="stylesheet">
    
    {{#each css}}
        <link rel="stylesheet" href="{{this}}">
    {{/each}}

    {{#each js}}
        <script defer src="{{this}}"></script>
    {{/each}}

</head> 

<body>

     {{! -- NAV bar -- }}
  <ul>

    <li><a href="/"><strong> ~ Gina's Portfolio ~ </strong></a></li>
    <li><a href=“/“>Home Page</a></li>
    <li class="dropdown">
      <a class="dropbtn">Projects</a>
        <div class="dropdown-content">
            <a href="/this-portfolio">This Portfolio</a>
            <a href="/python-interpreter">Python Interpreter</a>
            <a href="/tank-wars">Tank Wars</a>
            <a href="#">Informative Website</a>
            <a href="/cryptocurrency-wallet">Cryptocurrency Wallet</a>
            <hr>
            <a href="https://medium.com/@ginasomara15" target="_blank">Bitcoin Technology</a>
        </div>
    </li>
      <li><a href="/#contact-me-id">Contact Me</a></li>
    <li><a href="/#about-me-id">About Me</a></li>

  </ul>
    {{! -- END NAV bar -- }}


    {{{body}}}


</body>