<!DOCTYPE html>
 <html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <link rel="stylesheet" href="/public/css/nav.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" 
        integrity="sha512-Yu3tDzlofwBycOX5qb6K4tGJKGD72LA/9ckyioo8plGOdLwIeESQgo+KY4M+gvBJvDguqYeweLVTIn+S/9ZC/Q==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" 
        crossorigin="anonymous" referrerpolicy="no-referrer">
    {{!-- <script type="text/javascript" src="Scripts/bootstrap.min.js"></script> --}}

    {{#each css}}
        <link rel="stylesheet" href="{{this}}">
    {{/each}}

    {{#each js}}
        <script defer src="{{this}}"></script>
    {{/each}}

</head> 

<body>

     {{! -- NAV bar -- }}
  <ul>

    <li><a id="nav-strong" href="/"><strong> ~ Gina's Portfolio ~ </strong></a></li>
    <li><a href="/">Home Page</a></li>
    <li class="dropdown">
      <a class="dropbtn">Projects</a>
        <div class="dropdown-content">
            <a href="/this-portfolio">This Portfolio</a>
            <a href="/python-interpreter">Python Interpreter</a>
            <a href="/tank-wars">Tank Wars</a>
            <a href="/website">Informative Website</a>
            <a href="/cryptocurrency-wallet">Cryptocurrency Wallet</a>
            <hr>
            <a href="https://medium.com/@ginasomara15" target="_blank">Bitcoin Technology</a>
        </div>
    </li>
      <li><a href="/#contact-me-id">Contact Me</a></li>
    <li><a href="/#about-me-id">About Me</a></li>

  </ul>
    {{! -- END NAV bar -- }}


    {{{body}}}


</body>