<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ContactUS</title>
    <link rel="stylesheet" href="/CSS/FountainWebsite/Contact.css">
</head>



<body>


    <div class="AboveNav">
        <p>     </p>
    </div>



    <nav>
        <a href="/HTML/Views/FountainWebsite/home.html">HOME</a>
        <a href="/HTML/Views/FountainWebsite/Menu.html">MENU</a>
        <a href="/HTML/Views/FountainWebsite/Directions.html">DIRECTIONS</a>
        <a href="/HTML/Views/FountainWebsite/Video.html">VIDEOS</a>
        <a href="/HTML/Views/FountainWebsite/Contact.html">CONTACT</a>
    </nav>


    <!--More info under Video.html-->
    <h2>Contact Us</h2>



    <form class="form">

     <p class="name">
        <input type="text" name="name" placeholder="Enter Name Here">
        <!--Just the label for the input type box   **Also notice everything in label is within the first set of brakets-->
        <label for="Name">Name</label>
     </p>


     <p class="email">
        <input type="text" name="email" placeholder="mail@example.com">
        <label for="email">Email</label>
     </p>


     <!--using textaraa INSTEAD of input because the box is size customizeable-->
     <p class="text">
        <textarea name="Note" id="" placeholder= "What can we help you with?" cols="30" rows="10"></textarea>
     </p>


     <!--submit is a pre-determined HTML 5 feature-->
     <!--No need for a label tag here because the button is not showing a "preview" of anything like the other, like email, is-->
     <p class="submit">
        <input type="submit" value="Send">
     </p>

    </form> 



    <footer>
        <h2>Gina's Website Corporation, INC. Copy-writed 2020</h2>
    </footer>
    

</body>


</html>