<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="/CSS/FountainWebsite/Menu.css">
</head>

<body>


    <nav>
        <!--If not alternate page available yet for the href="" , then use " # " as a placeholder -->
        <a href="/HTML/Views/FountainWebsite/home.html">HOME</a>
        <a href="/HTML/Views/FountainWebsite/Menu.html">MENU</a>
        <a href="/HTML/Views/FountainWebsite/Directions.html">DIRECTIONS</a>
        <a href="/HTML/Views/FountainWebsite/Video.html">VIDEOS</a>
        <a href="/HTML/Views/FountainWebsite/Contact.html">CONTACT</a>
    </nav>



    <header>
        <img src="images/FountainWebsite/Menu.png" alt="Logo for Menu">
    </header>


    <!--
            FORMAT FOR MENU:

            (Single Row)

             BOX 1          BOX 2         BOX 3         BOX 4         
            (image)    (description)   (description)   (image)

    -->


    <!--Row 1 Drink Menu-->
    <div class="flex">

        <div class="box1">
            <img src="images/Pink_Resized.png" alt="Pink Flower Cocktail Picture">
        </div> 

        <div class="box2">
             <h1><u>~ Pretty in Pink ~</u></h1>
            <p>Smooth, Sweet, and Classy ~ Freshly Blended 
            Dragon Fruit, Locally Made Raspberry Syrup, Organic Agave, Rhum Agricole from Martinique</p>
        </div>   

        <div class="box3">
             <h1><u>~ Victorian Reign ~</u></h1>
             <p >Rich, Velvety, and Robust ~ Fresh Mint, Fresh Spearmint, Creme de Menthe liqueur, Premuim Russian Zyr Vodka, Top Shelf Baileys Irish Cream</p>
         </div>

        <div class="box4">
            <img src="images/Green_Resized.png" alt="Green Flower Cocktail Picture">
        </div>

    </div> 


    <div class="flex">

        <div class="box1">
            <img src="images/Orange_Resized.png" alt="Orange Leaf Cocktail Picture">
        </div>

        <div class="box2">
            <h1><u>~ Orange Blossom ~</u></h1>
            <p>Tangy, Fresh, and Citrusy ~ In-House Squeezed Orange Juice, Nolet Reserve Gin, Italian Campari Vermouth, Organic Blood Orange Concentrate</p>
        </div>

        <div class="box3">                
            <h1><u>~ Sophisticated Hibiscus ~</u></h1>
            <p>Tropical, Lush, and Refreshing ~ In-House Squeezed Lemon Juice, Organic Ginger Concentrate, Locally Made Hibiscus Syrup, Aged Botanist Islay Dry Gin</p> 
        </div>

        <div class="box4">
            <img src="images/Blue_Resized.png" alt="Blue Leaf Cocktail Picture">
        </div>

    </div>



    <!-- Row 3 Drink Menu -->
    <div class="flex">
    
        <div class = "box1">
            <img src="images/Red_Resized.png" alt="Red Curly Cocktail Picture">
        </div>
    
        <div class="box2">
            <h1><u>~ Crimson Kiss ~</u></h1>
            <p>Sensational, Sweet, and Satiable ~ Organic Rose Hip Syrup, Grand Mariner Orange Triple Sec liqueur, Locally Made Raspberry Concentrate, Bacardí Reserva Ocho</p>
        </div>

        <div class="box3">
            <h1><u>~ Thee Royale ~</u></h1>
            <p>Lavish, Lush, and Uplifting ~ Organic Lavender Extract, Organic Anise and Elderberry Extract, Empress 1908 Original Indigo Gin</p>
        </div>

        <div class = "box4">
             <img src="images/Purple_Resized.png" alt="Purple Curly Cocktail Picture">
        </div>

    </div>


    <footer>
        <p>Gina's Website Corporation, INC. Copy-writed 2020</p>
    </footer>


</body>


</html>