<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videos</title>
    <link rel="stylesheet" href="/CSS/FountainWebsite/Video.css">
</head>



<body>


    <!--Only to create uniform space on nav,      
        more info: Want the nav bar to be in the same place the mouse is on all pages except home, to provide a uniform, simple UX design-->
    <div class="AboveNav">
        <p>     </p>
    </div>



    <nav>
        <a href="/HTML/Views/FountainWebsite/home.html">HOME</a>
        <a href="/HTML/Views/FountainWebsite/Menu.html">MENU</a>
        <a href="/HTML/Views/FountainWebsite/Directions.html">DIRECTIONS</a>
        <a href="/HTML/Views/FountainWebsite/Video.html">VIDEOS</a>
        <a href="/HTML/Views/FountainWebsite/Contact.html">CONTACT</a>
    </nav>



    <header>
        <div class = "videoHeading">
            <p><br>Explore how we make our world famous cocktails. From start to finish we use only the finest, high quality ingredients.<br><br></p>
        </div>
    </header>



    <main>          
        <iframe width="560" height="315" src="https://www.youtube.com/embed/liHlEbfgDug" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/Hh88h6bXxhA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </main>
    
    
    <footer>
        <h2>Gina's Website Corporation, INC. Copyrighted 2020</h2>
    </footer>


</body>


</html>