html
{
    height: auto;
}


body
{
    text-align: center;
    background-image: url(images/FountainWebsite/Video_HomePage.png);
    background-size: cover;

}


nav
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 680px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(119, 67, 204, 0.534);
}


a
{
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000000;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}


.AboveNav
{
    height: 30px;
}


input, textarea 
{
    padding-bottom: 10px;
    padding-top: 10px;
    width: 200px;
}


textarea
{
    width: 400px;
    height: 200px;
    line-height: 18px;
}


input:hover, textarea:hover,
input:focus, textarea:focus
{
    border-color: rgb(109, 8, 241);
}


footer
{
    padding-top: 350px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}