html
{
    height: auto;
}


body
{
    text-align: center;
    background-image: url(images/FountainWebsite/Video_HomePage.png);
    background-size: cover;
}


nav
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 680px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(119, 67, 204, 0.534);
}


a
{
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000000;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}


.AboveNav
{
    height: 30px;
}


.directions
{
    padding-top: 100px;
}


footer
{
    padding-top: 120px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}