<body>
    
    <h1 class="title"><strong>~ Cryptocurrency Wallet~</strong></h1>

    <div class="sub-section">
        
        <p><pre>         Look @ the code:   <a href="https://github.com/Millennial-Mind/HD-Wallet-BTC" target="_blank"> [PYTHON code]</a>
        </pre> </p> <hr>  <br>
                <p><pre>         Look @ the SRS:   <a href="https://docs.google.com/document/d/1Y7VSo8JHmnxL3pVL3z82NtXEtefjK675uZ3RKGMLjxA/edit?usp=sharing" target="_blank">Software Requirement Specification Document]</a>
        </pre> </p> <hr>  <br>


        <h3><u>~ About this project ~</u></h3>
        <p> **NOTE: This project is still in progress**
            <br>
        <br> After finishing the Mastering Bitcoin Book with a friend of mine, we wanted to go deeper into the understanding and development of a working blockchain and Cryptocurrency wallet.  </p>
   
        <br><br><br><br>
        <p>Project Started ON: November 2021</p>
    </div>
   
</body>