<body>
    
    <h1 class="title"><strong>~ This Portfolio ~</strong></h1>

    <div class="sub-section">
        <h3><u>~ About this project ~</u></h3>
        <p>blah blah blah</p>
    </div>

    <div class="sub-section">
        <h3><u>~ Obstacles I faced && Overcoming those Obstacles  ~</u></h3>
        <p>blah blah blah
            **one, finding a way to get page to go  directly to contact me without being on index page
            **overriding the normalize css
            **figuring out the css features for the hover with the  projects tabs

        </p>
    </div>
   
</body>