<body>
    
    <h1 class="title"><strong>~ Dictionary ~</strong></h1>

    <div class="sub-section">
        
        <p>Find the code here:  <a href="" target="_blank">tbd</a> 
            <br>~ OR ~<br>
            Open a live version here: <a href="" target="_blank">tbd</a>
        </p> <hr> <br>


        <h3><u>~ About this project ~</u></h3>
        <p>blah blah blah</p>
    </div>

    <div class="sub-section">
        <h3><u>~ Obstacles I faced && Overcoming those Obstacles  ~</u></h3>
        <p>blah blah blah</p>
    </div>
   
</body>