<body>
    
    <h1 class="title"><strong>~ Dictionary ~</strong></h1>

    <div class="sub-section">
        <h3><u>~ About this project ~</u></h3>
        <p>blah blah blah</p>
    </div>

    <div class="sub-section">
        <h3><u>~ Obstacles I faced && Overcoming those Obstacles  ~</u></h3>
        <p>blah blah blah</p>
    </div>
   
</body>