<body>

    <h1 class="title"><strong>~ Data Structures ~</strong></h1>



    <div class="sub-section">

        <p> <pre>         Look @ the code:   <a href="https://github.com/GinaSomara/DataStrucutres2.0.git" target="_blank"> [JAVA code]</a>     |     <a href="https://github.com/GinaSomara/DataStrucutres2.0.git" target="_blank">[C++ code]</a> 
            ~ OR ~
        Open a live version:    <a href="https://replit.com/@GSOMARA15/Data-Structures#Main.java" target="_blank">[JAVA code]</a>   |   <a href="https://replit.com/@GSOMARA15/Data-Structures#Main.java" target="_blank">[C++ code]</a> </pre>
        </p> <hr> <br>

        <h3><u>~ About this project ~</u></h3>
        <p>This is a fun project that I created after completing my Data Structures class at San Francisco State University. We had a few assignments in
            class that I found very fun and also really helped me thoroughly understand Linked Lists, Queues, and Stack. I based this project after those
            to help demonstrate my ability to create data structures from scratch. Enjoy the colors and fun presentation <br> (: 
        </p>
    </div>

    <div class="sub-section">
        <h3><u>~ Obstacles I faced && Overcoming those Obstacles  ~</u></h3>
        <ul>
            <li><u>Nodes::</u> The biggest struggle I faced, previous to this project, was understanding the Nodes class within
            the Linked List class. The idea of a Node that contains a data variable, and also another Node object, to point to the next 
            Node was a bit of a recursive brain hole to comprehend. But after some practice and beautifully painful drawings, it all made sense.</li>

            <li><u>Complexity::</u> Not directly represented in this </li>
        </ul>


        <br><br><br><br>
        <p>Project Completion ON: May 2021</p>
    </div>

</body>