<body>
    
    <h1 class="title"><strong>~ Dictionary ~</strong></h1>

    <div class="sub-section">
        
        <p><pre>         Look @ the code:   <a href="#" target="_blank"> [JAVA code]</a>     |     <a href="#" target="_blank">[C++ code]</a>
             ~ OR ~
            Open a live version:    <a href="#" target="_blank">  [JAVA code]</a>   |   <a href="#" target="_blank">[C++ code]</a>
        </pre> </p> <hr>  <br>


        <h3><u>~ About this project ~</u></h3>
        <p> Description and upload links coming soon!! </p>
    </div>

    <div class="sub-section">
        <h3><u>~ Obstacles I faced && Overcoming those Obstacles  ~</u></h3>
        <p>coming soon</p>


        <br><br><br><br>
        <p>Project Completion ON: July 2021</p>
    </div>
   
</body>