
<body>

    <h1 class="title"><strong>~ The Fountain ~</strong></h1>

    <div class="sub-section">
        <p> <pre>Look @ the code:  <a href="https://github.com/GinaSomara/FountainWebsite.git" target="_blank">[ HTML / CSS / JS ] </a>
         ~ OR ~
            Open the Website:    <a href="../public/fountainWebsite/html/home.html" target="_blank">  [ Website HERE]</a>
        </pre></p> <hr> <br>

        <h3><u>~ About this project ~</u></h3>
        <p>I started this project with zero web development experience nor any knowledge of html/css. After watching some tutorials online, I figured I should try it out myself! For this project, I only used css and html to keep it simple. 
            I really enjoyed playing around with UI; I wanted to develope a night time, chic interface that granted the customer with a feel for 'The Fountain', 
            cocktail bar. When I stared the project, I was going to use some Bootstrap. However, I ended up not using any because I really wanted to understand how everything I created worked under the hood.
        </p>
    </div>

    <div class="sub-section">
        <h3><u>~ Obstacles I faced && Overcoming those Obstacles  ~</u></h3>
        <p><ul>
            <li><u>FlexBox on the Menu Page::</u> This was 
                my first experience with flex box, so I had to learn exactly
                how it works. The main issues I had was content not aligning how I envisioned it,
                especially with different screen sizes. Before I tried flex box, I was using
                grid to format the layout. However, grid was proving much more complicated than flex box,
                so I decided to simplify the Menu by breaking things down by row, utilizing flex box, versus 
                row/column formatting with grid. Now that I use grid often, I can see how it would serve the Menu page
                well, especially for a larger and more complex menu interface. </li>
                <br>
            <li><u>Picture Formatting::</u> The individual cocktail pictures were tricky as they were all different sizes. After lots of playing around in
                multiple applications, I decided to purchase Adobe PhotoShop and resize all the photos myself. Learning how to do 
                anything in PhotoShop proved to be an adventure all on it's own! Additionally, the cocktails all had different backgrounds which created a lack of uniformity. ** I am 
                still currently un-satisfied with the unevenness of the background colors, but I hope to fix that soon. ** I also ended up using PhotoShop for the home page
                background picture; the reflection and opaqueness was important
                as I wanted it to have a smooth visual transition in case there was more content.   
        </ul></p>

        <br><br><br><br>
        <p>Project Completion ON: November 2020</p>
    </div>
    
</body>