<body>
    
    <h1 class="title"><strong>~ This Portfolio ~</strong></h1>

    <div class="sub-section">
        <p> <pre>Look @ the code:  <a href="https://github.com/GinaSomara/GinaSomara.github.io.git" target="_blank">[HTML / CSS / JS]</a></pre> 
        </p> <hr> <br>

        <h3><u>~ About this project ~</u></h3>
        <p>Knowing how competitive Computer Science is, I wanted to create a space that would allow
            me to present my personality whilst also giving me a platform to exhibit my projects that I have worked hard on. I used NodeJS/html/handlebars/css/bootstrap for this project. I was already familiar with html/css but I learned handlebars to reduce code repitition and also learned some javascript so that I could  understand how NodeJs was running.
        </p>
    </div>

    <div class="sub-section">
        <h3><u>~ Obstacles I faced && Overcoming those Obstacles  ~</u></h3>
        <p><ul>
            <li><u>Routing -</u>- The biggest struggle I faced was routing. For the index page and most project pages, I am using .hbs (handlebars) files. So those are obviously using my index.js file to be routed. However, my "The Fountain" project is another web application (un-hosted w/o this Portfolio) written with html, with no handlebars. So I had do a lot of research and see how to appropriately make "The Fountain" able to be found my NodeJs since the view engine was set only to recognize .hbs files. For the solution, I had to re-organize all my files and routing so that my Fountain website was found by the index.js. In this process, I learned a lot of the importance and need for proper routing.

            <li><u>UI -</u>- I put a lot of work and re-work into getting the ambience of my portfolio website to my vision. The css animations for the projects tabs were something that required a deeper understanding of the css that I did not have before. Additionally, I used a lot of Adobe PhotoShop for the background pictures which were originally not formatted the same. Learning Adobe PhotoShop was a process all in its own as well, ha.</li>
        </ul></p>

        <br><br><br><br>
        <p>Project Completion ON: August 2021</p>
    </div>

   
</body>