
<body>

    <h1 class="title"><strong>~ Informative Website ~</strong></h1>

    <div class="sub-section">
        <p> <pre>Look @ the code:  <a href="https://github.com/GinaSomara/CovidInformation" target="_blank">[ HTML / CSS / JS / PHP ] </a>
         ~ OR ~
            Open the Website:    <a href="#">  [Feature Coming Soon]</a>
        </pre></p> <hr> <br>

        <h3><u>~ About this project ~</u></h3>
        <p>I started this project with the intenion of having a centralized location for my friends & family to find a wide specturm of information about Covid. However, it quickly turned into a personal learning project, ha! I started playing around with some Javascript to add some interactivness and realized I should just have some fun with it. I created a Shape Calculator that calculates the area/perimeter/volume for the corresponding shape. Afterwards, I decided to include some PHP utilizing XAMPP in order to acquire experience pushing and pulling information from a database ~ even if it was only a simulated locale one.
        </p>
    </div>

    <div class="sub-section">
        <h3><u>~ Obstacles I faced && Overcoming those Obstacles  ~</u></h3>
        <p>
            <ul>
                <li><u>Optimizing Javascript-</u>- I wanted my js code to be very clean and as efficient as possible, so I worked it down to three stages. One - implement the code with my current working knowledge. Two - refactor to see where I could upgrade sections in order to make code segments more reusable. Three - rework the overall structure to include classes and shape objects. However, I ended up scratching this stage; after further inspection I did not see a need for including objects as it would be more work than necessary and could overcomplicate simple code.</li>
                    <br>
                <li><u>Learning PHP-</u>-
                    This was my first time using PHP so it was fun to learn how it talks to the database. I found the language quite similar to Java. I was using PHP orginally only for the form on the 'Testing-Centers' sign up page, then later updated the website to utilize PHP to import the header and footer onto different pages, helping reduce redunant code. I had some issues pulling the form attributes to begin with, I later learned that PHP pulls the form attributes from the 'name=' and not the 'id='. Some additional issues I experienced was writing to the database. This issue was fixed by implementing proper error messages and then ensuring my connection string was successful.
                </li>

            </ul>
        </p>

        <br><br><br><br>
        <p>Project Completion ON: May 2022</p>
    </div>
    
</body>